@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    /* ### Primary */
    --blue: hsl(223, 87%, 63%);
    --ligth-blue: hsl(223, 87%, 73%);
    --blue-shadow: hsla(223, 87%, 63%, 40%);

    /* ### Secondary */
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);

    /* ### Neutral */
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: var(--gray);
}

body {
    padding: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;
    text-align: center;
    flex: 1;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px 0;
    .logo {
        width: 75px;
        margin-bottom: 20px;
    }
    .secondary {
        color: var(--very-dark-blue);
        font-weight: 600;
    }
    .title {
        font-size: 1.2rem;
        font-weight: 300;
    }
    .sub-title {
        font-size: .8rem;
        color: var(--very-dark-blue);
    }
}


form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 80px 20px;
    .form-group {
        margin-bottom: 15px;
    }
    input, button {
        padding: 14px 32px;
        border-radius: 25px;
    }
    input::placeholder {
        color:  var(--pale-blue);
    }
    input {
        width: 100%;
        border: 1px solid var(--pale-blue);
        margin-bottom: 5px;
        &.error {
            border-color: var(--light-red);
        }
        ~ .error {
            color: var(--light-red);
            font-size: .7rem;
            position: absolute;
            padding-left: 32px;
        }
    }
    button {
        border: 1px solid transparent;
        background-color: var(--blue);
        color: hsl(0, 0%, 255%);
        box-shadow: 0 6px 10px var(--blue-shadow);
        cursor: pointer;
        &:hover {
            background-color: var(--ligth-blue);
        }
    }
}

.hidden {
    display: none;
}

.illustration {
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 30px 0;
    i {
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: var(--blue);
        border-color: var(--pale-blue);
    }
}

.copyright, .attribution {
    text-align: center;
    font-size: .7rem;
}

@media only screen and (min-width: 1440px) {
    main {
        max-width: 650px;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 40px;
        padding-bottom: 40px;
        .form-group {
            flex: 2;
        }
        button {
            flex: 1;
        }
    }
}